@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,100&display=swap');

/*---- General Body Styling ----*/

body {
 
    background-color: #000000;
    color: White;
}
.card-body {
    background-color: #000000;
}
.card-header {
    background-color: #000000; 
}
.card-footer {
    background-color: #000000;
}
.content {
    margin-top: 30px;
    padding: 20px;
    margin-bottom: 25px;
    padding-bottom: 25px;
}
.custom-file-upload {
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background-color: #710280;
    border: 1px solid #ffffff;
    color: #ffffff;
    width: 50%;
    text-align: center;
}
.input-file {
    display: none;
}

/*---- Navigation Bar Styling ---*/

.custom-nav {
    background-color: #710280; 
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 2;
    border-style: solid;
    border-width: 1px;
    border-color: #ffffff;
    border-top: #000000;
    border-left: #000000;
    border-right: #000000;
    padding-bottom: 10px;
}
.custom-card-footer {
    background-color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}


/*---- Footer Styling ----*/

.custom-footer {
    background-color: #710280;
    width: 100%;
    color: #ffffff;
    text-align: center;
    position: fixed;
    bottom: 0;
    text-decoration: none;
    border-style: solid;
    border-width: 1px;
    border-color: #ffffff;
    border-bottom: #000000;
    border-left: #000000;
    border-right: #000000;
}

.custom-footer a {
    padding-right: auto;
}

.custom-footer a i{
    padding-right: 10px;   
}

.footer-nav{
    text-decoration: none;
    color: #f0ebeb;
}
/*---- Landing page ----*/
.custom-landing {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #ffffff;
    margin-bottom: 5px;
}
.custom-landing a {
    color: #ffffff;
}
.signup {
    background-color: #710280;
    border-color: white;
    animation: rotate-left;
    animation-duration: 2s;
}
.login {
    background-color: #710280;
    border-color: white;
    animation: rotate-right;
    animation-duration: 2s;
}

/*---- Sign-Up, Login Template Styles ----*/

.auth-forms {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.login_btn {
    background-color: #710280;
    animation: rotate-left;
    animation-duration: 1s;  
}

.input-group-text {
    background-color: #710280;
    width: 45px;
    animation: rotate-right;
    animation-duration: 1s;

}
.larger-input {
    width: 300px;
    padding-bottom: 60px;
    animation: rotate-left;
    animation-duration: 1s;

}
.smaller-input {
    width: 300px;
    animation: rotate-left;
    animation-duration: 1s;

}

.auth-forms i {
    color: #ffffff;
     
}

.auth-forms input {
    color: #000000;
    animation: rotate-left;
    animation-duration: 1s; 
}

#form-title {
    color: #ffffff;
    animation: riseup;
    animation-duration: 1s; 
}
.update-btn{
    background-color: #710280; 
    border-color: #ffffff;
}
/*---- Index Page Styles ----*/

.index-body{
    border-top: #f0ebeb;
    text-align: center;
}
.index-header{
    display: flex;
    align-items: center;
}

.index-header a {
    text-decoration: none;
    color: #f0ebeb;
    display: flex;
    align-items: center;
}
.update-btn{
    background-color: #710280; 
    border-color: #ffffff;
}
.like-btn {
    background-color: #710280;
    border-width: 1px;
    border-color: #ffffff;
    margin-bottom: 10px;
    transition: background-color 0.3s;
}
.like-btn i {
    padding-right: 5px;
}
.like-btn:hover {
    background-color: #000000;
}
.post-date {
    margin-left: 20px;
    color: rgb(133, 127, 127);
}
.comment-section {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 5px;

}
.comment-section ul li {
   list-style: none;
}

.comment-section li {
    padding-bottom: 20px;
}

.comment-btn {
    background-color: #710280; 
    border-color: #ffffff;
    width: 50%;
}

.view-more {
    text-decoration: none;
    color: rgb(133, 127, 127);
}
.follow-btn{
    background-color: #710280; 
    border-color: #ffffff;
    width: 100%;
    margin-top: 5px;
}

/*---- Profile Styling ----*/
.custom-profile {
    padding-top: 50px;
    border-style: solid;
    border-width: 1px;
    border: none;

}
.custom-profile-head {
    border-style: solid;
    border-width: 1px;
    border-color: #ffffff;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: #000000;
}
.profile-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
}
.profile-info h6 {
    margin-left: 30px;
}
.bio {
    border-bottom: #ffffff;
}
.bio a {
    text-decoration: none;
    color: #ffffff;
}
.custom-profile-content {
    margin-bottom: 100px;
    border: none;
}

/*----- Settings Page Styling ----*/

.settings-card-header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.settings-profile-picture {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
}

.settings-table {
    color: #ffffff;
    border: none;
}
.settings-footer {
    background-color: #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.settings-btn{
    background-color: #710280; 
    border-color: #ffffff;
}
.settings-delete-btn{
    width: 100%;
}

.custom-file-upload-settings {
    cursor: pointer;
    background-color: #710280;
    border: 1px solid #ffffff;
    color: #ffffff;
    width: 100%;
    text-align: center;
}
.custom-file-upload-settings:hover {
    cursor: pointer;
    background-color: #0275d8;
}

/*---- Search Page styles ----*/

.custom-search{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    padding: 20px;
    margin-bottom: 50px;
    padding-bottom: 50px;
}

.search-btn{
    background-color: #710280; 
    border-color: #ffffff;
    width: 50%;
    margin-top: 10px;
}

.results-container {
    text-align: left;
    margin-left: 10px;
}
.container-search {
    text-align: center;

}

/*---- Recipe Page styles ----*/

.content-recipe{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    padding: 20px;
    margin-bottom: 50px;
    padding-bottom: 50px;
}

.search-btn-recipe{
    background-color: #710280; 
    border-color: #ffffff;
    width: 50%;
    margin-top: 10px;
}

.container-search-recipe {
    text-align: center;

}
.recipe-link a {
    text-decoration: none;
    color: #ffffff;
}
/*---- Keyframe Animations ----*/

@keyframes rotate-left {
    from {
        transform: translate3d(500%, 0, 0);
}
    to {
        transform-origin: 0%;
}
}
@keyframes rotate-right {
    from {
        transform: translate3d(-500%, 0, 0);
}
    to {
        transform-origin: 0%;
}
}
@keyframes rise {
    from {
        transform: translate3d(0, -500%, 0);
}
    to {
        transform-origin: 0%;
}
}

@keyframes riseup {
    from {
        transform: translate3d(0, 500%, 0);
}
    to {
        transform-origin: 0%;
}
}

