{% extends 'base.html' %}
{% load static %}
{% block title %}Create Post{% endblock %}
{% block content %}
<div class="container forms-content">
	<div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="forms-content">
                <div class="d-flex justify-content-center">
                    <h3>Create your Post!</h3>
                </div>
                <div class="d-flex justify-content-center">
                    <p>Let everyone know whats cookin!</p>
                </div>
                
                <div class="d-flex justify-content-center form_container">
                    <form method="POST" action="{% url 'create_post' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="input-group mb-3">
                            <div class="input-group-append">
                                <span class="input-group-text span"><i class="fa-solid fa-comment" style="color: #ffffff;"></i></span>
                            </div>
                            <input type="text" class="form-control" placeholder="Give your post a title" name="{{ form.title.name }}" value="{{ new_post.title }}">
                        </div>
                        <div class="input-group mb-3">
                            <div class="input-group-append">
                                <span class="input-group-text span"><i class="fa-solid fa-comment" style="color: #ffffff;"></i></span>
                            </div>
                                <textarea class="form-control larger-input" placeholder="Give your post some conext." name="{{ form.content.name }}">{{ new_post.content }}</textarea>
                        </div>
                        <div class="form-group">
                            <label class="custom-file-upload">
                                <input type="file" name="{{ form.featured_image.name }}" class="input-file">
                                <i class="fa-regular fa-image" style="color: #ffffff;"></i> Upload Image
                            </label>
                            <div class="text-danger">
                                {{ form.featured_image.errors }}
                            </div>
                        </div> 
                        <div class="card-footer custom-card-footer">
                            <button class="btn btn-primary btn-sm btn-block update-btn" type="submit">Create Post</button>
                        </div> 
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}