{% extends 'landing.html' %}
{% load static %}
{% block title %}Reset Sent{% endblock %}
{% block landing %}
<div class="container h-100">
    <div class="d-flex justify-content-center align-items-center h-100">
        <div class="auth-forms">
            <div class="d-flex justify-content-center">
                <p class="text-center">We have sent an email to your given email.<br><br>If the email address in valid instructions will be contained within on how to reset your password.</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}