{% extends 'base.html' %}
{% load static %}
{% block title %}User Profile{% endblock %}
{% block content %}
<div class="custom-profile">
    <div class="container content">
        <div style="display: flex; flex-direction: column; justify-content: center; align-items: center;" >
            <h3 class="mt-0">Hello {{user.username}}</h3>
        </div>
        <div class="card my-4 custom-profile-head">
            <div class="card-header profile-info" >
                <div id="profile-header">
                    <img class="mr-3 rounded-circle" src="{{ user.userprofile.profile_pic.url }}" alt="Profile Picture" style="width: 100px; height: 100px; object-fit: cover;">
                </div>
                <div>
                    <h6>Posts: {{ posts.count }}</h6>
                    <h6>Followers: {{ user.userprofile.followers.count }}</h6>
                    <h6>Following: {{ user.userprofile.following.count }}</h6>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="bio">
                        <h4>Your Bio:</h4>
                        {% if user.userprofile.bio %}
                        <p>{{ user.userprofile.bio }}</p>
                        {% else %}
                        <p>Update you bio,<br>Let people know about you.</p>
                        {% endif %}
                        <h4>Your Social Links:</h4>
                        {% if user.userprofile.twitter %}
                        <i class="fa-brands fa-twitter" style="color: #9cbdf7;"></i><a href="{{ user.userprofile.twitter }}" target="_blank">  <i class="fa-solid fa-link" style="color: #ffffff;"></i> {{user.userprofile.twitter}}</a>
                        <br>
                        {% else %}
                        <i class="fa-brands fa-twitter" style="color: #9cbdf7;"></i><a href="{% url 'bio' %}">  Add a link to your Twitter</a>
                        <br>
                        {% endif %}
                        {% if user.userprofile.instagram %}
                        <i class="fa-brands fa-instagram" style="color: #d419e1;"></i><a href="{{ user.userprofile.instagram }}" target="_blank">  <i class="fa-solid fa-link" style="color: #ffffff;"></i> {{user.userprofile.instagram}}</a>
                        <br>
                        {% else %}
                        <i class="fa-brands fa-instagram" style="color: #d419e1;"></i><a href="{% url 'bio' %}">  Add a link to your Instagram</a>
                        <br>
                        {% endif %}
                        {% if user.userprofile.facebook %}
                        <i class="fa-brands fa-facebook" style="color: #093c95;"></i><a href="{{ user.userprofile.facebook }}" target="_blank">  <i class="fa-solid fa-link" style="color: #ffffff;"></i> {{user.userprofile.facebook}}</a>
                        {% else %}
                        <i class="fa-brands fa-facebook" style="color: #093c95;"></i><a href="{% url 'bio' %}">  Add a link to your Facebook</a>
                        <br>
                        {% endif %} 
                        <br>
                        <br>
                        <a href="{% url 'bio' %}" class="btn btn-primary btn-sm update-btn">Update Bio</a>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="dropdown custom-dropdown">
                        <button class="btn btn-primary dropdown-toggle update-btn follow-dropdown-button" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Followers
                        </button>
                        <div class="dropdown-menu">
                            <ul class="list-group">
                                {% for follower in user.userprofile.followers.all %}
                                <li class="list-group-item">
                                    <a href="{% url 'user_profile' follower.username %}">
                                        <img class="mr-3 rounded-circle" src="{{ follower.userprofile.profile_pic.url }}" alt="Profile Picture" style="width: 50px; height: 50px;">
                                        {{ follower.username }}
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="dropdown custom-dropdown">
                        <button class="btn btn-primary dropdown-toggle update-btn follow-dropdown-button" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Following
                        </button>
                        <div class="dropdown-menu">
                            <ul class="list-group">
                                {% for following in user.userprofile.following.all %}
                                    <li class="list-group-item">
                                        <a href="{% url 'user_profile' following.username %}">
                                            <img class="mr-3 rounded-circle" src="{{ following.userprofile.profile_pic.url }}" alt="Profile Picture" style="width: 50px; height: 50px;">
                                            {{ following.username }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container content custom-profile-content">
    <h3>View your Posts:</h3>
    <div class="row">
        {% for post in posts %}
        <div class="col-md-4 custom-profile-post">
            <div class="card mb-4 custom-profile-head">
                <div class="card-body" id="profile-body">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <a class="nav-item nav-link active" aria-current="page" href="{% url 'view_post' post.slug %}">
                    <img src="{{ post.featured_image.url }}" class="card-img-top custom-image" alt="Post Image">
                    </a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}